<form class="pb-2" #f="ngForm" (ngSubmit)="addTask(f)">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row align-items-center">
          <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1" #libelle="ngModel" required
            placeholder="Add new..." name="libelle" ngModel>

          <div class="btn_group">
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Add</button>
            <a class="btn btn-danger" (click)="logout()" >Log Out</a>
          </div>
        </div>
      </div>
    </div>
</form>