<ul class="list-group list-group-horizontal rounded-0 bg-transparent">
    <li
      class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
      <div class="form-check">
        <b>
            {{task.id}}
        </b>
      </div>
    </li>
    <li
      class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
      <div *ngIf="task.statut == 'Terminé'; else elseBlock"><p class="lead fw-normal mb-0 ended libelle" > {{task.libelle}} </p></div>
      <ng-template #elseBlock>
        <div> <p class="lead fw-normal mb-0 libelle"> {{task.libelle}}</p> </div>
      </ng-template>
    </li>
    <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
      <div class="d-flex flex-row justify-content-end mb-1">
        <a class="text-info"  routerLink="/edit/{{task.id}}" data-mdb-toggle="tooltip" title="Edit todo">
            <i class="fas fa-pencil-alt me-3"><fa-icon [icon]="faEdit" ></fa-icon></i>
        </a>
        <a class="text-danger" data-mdb-toggle="tooltip" title="Delete todo" (click)="onDelete()">
            <i class="fas fa-trash-alt"><fa-icon [icon]="faTrash" ></fa-icon></i>
        </a>
      </div>
      <div class="text-end text-muted">
        <a class="text-muted" data-mdb-toggle="tooltip" title="Created date">
          <p class="small mb-0 {{task.statut}}" style="font-weight: bold;">       
                           
            <span *ngIf="task.statut == 'Terminé';" style="color:green;">
              <i class="fas fa-info-circle me-2">
                <fa-icon [icon]="faInfo" ></fa-icon>
                {{task.statut}} 
              </i>
            </span>
            <span *ngIf="task.statut == 'En cours';" style="color:orange;">
              <i class="fas fa-info-circle me-2">
                <fa-icon [icon]="faInfo" ></fa-icon>
                {{task.statut}}
              </i>
            </span>
            <span *ngIf="task.statut == 'En attente';" style="color:gray;">
              <i class="fas fa-info-circle me-2">
                <fa-icon [icon]="faInfo" ></fa-icon>
                {{task.statut}}
              </i>
            </span>
          </p>
        </a>
      </div>
    </li>
</ul>
